{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <br />
  <form action="#" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <input type="file" class="form-control" name="image_name" required />
      <input type="submit" value="UPLOAD" class="btn btn-outline-secondary" />
    </div>
  </form>
</div>

{% if upload %}
<div class="container">
  <br />
  <table style="width: 100%">
    <tr>
      <td style="text-align: center">
        <img style="height: 400px" class="rounded float-left img-fluid" src="/static/upload/{{upload_image}}" alt="" />
      </td>
      <td style="text-align: center">
        <img style="height: 400px" class="rounded float-right img-fluid" src="/static/predict/{{upload_image}}"
          alt="" />
      </td>
    </tr>
  </table>
  <br />
  <table style="border: solid; width: 50%; margin-left: auto; margin-right: auto">
    <tr style="border: solid; background-color: #CFD2CF">
      <th style="text-align: left">Cropped License Plate</th>
      <th style="text-align: right">Number Plate</th>
    </tr>
    <tr>
      <td style="text-align: left">
        <img style="height: 50px" src="/static/roi/{{upload_image}}" alt="" />
      </td>
      <td style="text-align: right">
        <h3>{{text}}</h3>
      </td>
    </tr>
  </table>
  <br />
</div>
{% endif %}
{% endblock %}